.nav-btn {
    -fx-background-color: #E7E6E7;
    -fx-font-size: 24px;
    -fx-cursor: hand;
}

.nav-btn:pressed {
    -fx-background-color: #C6C5C6;
}

.star-btn {
    -fx-background-color: #E7E6E7;
    -fx-text-fill: #E8C547;
    -fx-cursor: hand;
    -fx-font-size: 44px;
    -fx-padding: -5px 8px -8px 8px;
}

.star-btn:pressed {
    -fx-background-color: #C6C5C6;
    -fx-font-weight: bold;
}

.download-btn {
    -fx-background-color: #E7E6E7;
    -fx-cursor: hand;
    -fx-font-size: 30px;
    -fx-padding: 2px 13px 2px 13px;               /* top right bottom left*/
}

.download-btn:pressed {
    -fx-background-color: #C6C5C6;
}

.tooltip {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-background-color: #F0EFF0;
}

.primary-bg {
    -fx-background-color: #FAF5F8;
}

.secondary-bg {
    -fx-background-color: #FCFAFC;
}